/*    This file is part of Jello Dashboard.

    Jello Dashboard is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Jello Dashboard is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Jello Dashboard.  If not, see <http:www.gnu.org/licenses/>.
*/


#class .loading-indicator{
	font-size:12px;
	height:18px;
}

.loading-indicator {

    font-size:11px;
    background-image:url(../../resources/images/default/grid/loading.gif);
    background-repeat: no-repeat;
    background-position:bottom middle;
    padding-left:0px;
	height:18px;
	text-align:center;
}


#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}

#loading{
	position:absolute;
	left:35%;
	top:30%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}
	
body 
{
	font: x-small "Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
	overflow-y: auto;
	overflow-x: hidden;
	
}


a 
{
	color:black;
	text-decoration:none;
	font-size: 8pt;
}

a:hover 
{
	text-decoration: underline;
	color: blue;
}

.jellolink
{
	cursor:hand;
	color: black;
	font-size: 11px;
	text-decoration: none;
}


.jelloformlink
{
	cursor:hand;
	color: blue;
	font-size: 11px;
	text-decoration: underline;
}

.jellopathlink
{
	cursor:hand;
	color: blue;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}

.jellolinkReview
{
	cursor: hand;
	text-decoration: none;
}

.jellolinkTop
{
	cursor: hand;
	color:navy;
	font-size: 105%;
	text-decoration: none;
}

.jellolinkTopGlow
{
	cursor: hand;
	color:green;
	font-size: 110%;
	text-decoration: none;
}

#footertoolbar
{
text-align:right;
padding:10 10 0 10;

}

#jello
{
 float:left;
 margin-left:10px;
 margin-right:10px;
 height:30px;
}

#datediv
{
	font-size: 14px;
  font-weight:bold;
	font-family: "Calibri", "Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
  float:left;
	margin-top:10px;
}	

.menuimg
{
opacity:0.5;
filter:alpha(opacity=70);
}


#toptoolbar
{
float:right;
text-align:right;
margin-right:8px;
margin-top:4px;
margin-bottom:-4px;
height:20px;
font-size:90%;
}

#search
{
margin-top:5px;
float:right;
}

#main{

}

.widgetInner{
padding: 10 10 10 10;
}
.printChars {
	font-size: 11px;
	font-family: "Calibri","Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
	border-bottom: 1px solid Gainsboro;
}

.htmlControls {
	font-size: 12px;
	font-family: "Calibri","Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
  border:1px solid black;
	}

.inboxICount
{
	font-size: 1px;
	font-family: "Calibri","Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
  position:relative;
  left:1px;
  top:100px;
  
  
}

.formtaglist{
padding: 5 0 30 5;
margin-left:80;
margin-bottom:10;
width:350;
}

.formfilelist{
padding: 5 0 5 5;
margin-left:0;
margin-bottom:5;
width:650;
}

.settingslist
{
padding: 5 0 30 5;
margin-left:88;
margin-bottom:10;
border:1px dotted gray;
width:688;
}
.formconlist
{
margin-left:0;
margin-bottom:5;
height:150px;
width:300px;
overflow-y:scroll;
position:absolute;
}

.formattlist
{
margin-left:83;
margin-bottom:5;
height:100px;
width:450px;
overflow-y:scroll;
position:block;
}

.formatflist
{
margin-left:153;
align:right;
height:10px;

}

.forminfolist
{
margin-left:83;
margin-bottom:5;
height:40px;
width:450px;
overflow-y:none;
position:block;
}

.formeditlist
{
left:30;
top:260;
font-size:12px;
position:absolute;
}

.formconlistchars
{
font-size:11px;
}

.fkey
{
font-size:9px;
color:gray;
}

.reviewcount
{
font-size:12px;
color:black;
}

.smallfunction
{
font-size:11px;
color:navy;
}
.notag{
background:#d5d5d5;
color:black;
font-size:9px;
padding-left:3px;
padding-right:3px;
margin-right:2px;
border:1px dotted gray;
}

.tagprj
{
	background:LightSalmon ;
	color: black;
	text-decoration: none;
padding-left:3px;
padding-right:3px;
margin-right:2px;
border:0px solid blue;
}

.tagcon
{
	background:LightSteelBlue ;
	color: navy;
	text-decoration: none;
padding-left:3px;
padding-right:3px;
margin-right:2px;
border:0px solid green;
}

.tagnext
{
	background:red;
	color: yellow;
	text-decoration: none;
padding-left:3px;
padding-right:3px;
margin-right:2px;
border:0px solid green;
}
.tagarchive
{
	cursor: hand;
	background:red;
	color: white;
	font-weight:bold;
	font-size:12px;
padding-left:5px;
padding-right:5px;
margin-right:5px;
}
.tagsystem
{
	cursor: hand;
	background:navy;
	color: white;
	font-weight:bold;
	font-size:12px;
padding-left:5px;
padding-right:5px;
margin-right:5px;
}
.tagremove
{
	cursor: hand;
	background:LightSteelBlue;
	color: white;
	text-decoration: none;
padding-left:3px;
padding-right:3px;
margin-right:2px;
margin-left:-2px;
border:0px solid green;
}

.nodeprj
{
	background:lavender ;
	

}

.caltime
{
color:green;
}

.callday
{
color:navy;
}

.1pastgroup
{
color:red;
}

.2todaygroup
{
color:blue;
}
.ticklertitle
{
color:black;
font-size:9pt;
}

#jellolist
{
overflow-y:scroll;
}

#jellolist td
{

	font-size: 12px;
	font-family: "Calibri","Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
	border-right: 1px solid grey;
	padding-top:1px;
	padding-left:2px;
	padding-bottom:1px;
}

.tagformicon
{background:url(../img/list_components.gif) 0 6px no-repeat !important;}
.conformicon
{background:url(../img/user.gif) 0 6px no-repeat !important;}
.actionformicon
{background:url(../img/task.gif) 0 6px no-repeat !important;}
.olcollectformicon
{background:url(../img/olpreview.gif) 0 6px no-repeat !important;}
.olformicon
{background:url(../img/folder.gif) 0 6px no-repeat !important;}
.colectbuticon
{background:url(../img/collect16.png) 0 2px no-repeat !important;}
.olrunicon
{background:url(../img/j-icon.gif) -2px 2px no-repeat !important;}
.olseticon
{background:url(../img/j-icon.gif) 2px 2px no-repeat !important;}
.olsetloc
{background:url(../img/journal.gif) 2px 2px no-repeat !important;}
.olsetexp
{background:url(../img/setimp.gif) 2px 2px no-repeat !important;}
.olsetutl
{background:url(../img/page_url.gif) 2px 2px no-repeat !important;}


#content 
{
	width: 100%;
}

.widgettext
{
	color: black;
	font-size: 11px;
	text-decoration: none;
}

.widgetinfo
{
	color: black;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/comment_yellow.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}

.widgetmail
{
	color: black;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/inboxmail.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}

.widgetattach
{
	color: red;
	font-size: 11px;
	text-decoration: none;
	padding-left:20px;
	height:20px;
	background:url(../img/attach.gif) 0 0px no-repeat !important;
}

.widgetimpmail
{
	color: black;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
	background:url(../img/icon_alert.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}

.widgetppl
{
	color: navy;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/user.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}

.widgetalert
{
	color: black;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/icon_alert.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}

.widgetaction
{
	color: black;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/task.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}


.widgethelp
{
	color: black;
	font-size: 11px;
	text-decoration: none;
	background:url(../img/icon_info.gif) 0 0px no-repeat !important;
	padding-left:20px;
	height:20px;
}


/*Grids Styling*/
.x-grid3-cell-inner {font-size:9px;font-family:Tahoma;}
#grid .x-grid3-cell-inner {font-size:12px;font-family:Tahoma;}
#mgrid .x-grid3-cell-inner {font-size:12px;font-family:Tahoma;}
#tgrid .x-grid3-cell-inner {font-size:12px;font-family:Tahoma;}
#igrid .x-grid3-cell-inner {font-size:12px;font-family:Tahoma;}
#ggrid .x-grid3-cell-inner {font-size:12px;font-family:Tahoma;}


.x-form-item-label {
width:350;
}

/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.x-portal .x-panel-dd-spacer {
    margin-bottom:7px;
}

.x-portlet {
    margin-bottom:7px;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
    padding-left:1px;
}
.x-portlet .x-panel-mr {
    padding-right:1px;
}
.x-portlet .x-panel-bl {
    padding-left:1px;
}

.x-portlet .x-panel-br {
    padding-right:1px;
}
.x-portlet .x-panel-body {
    /*background:white;*/
}
.x-portlet .x-panel-mc {
    padding-top:1px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:1px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:1px;
}

/* Information popup message styling*/

.msg .x-box-mc {
    font-size:11px;
    font-family:"Calibri","Segoe UI", Verdana, "Trebuchet MS", Arial, Sans-serif;
    background:#ffffcc;

}

#msg-div {
    position:absolute;
    width:350px;
	left:50px;
    top:0px;
	opacity:0.9;filter:alpha(opacity=90);
    z-index:20000;
}



.olpreview {
    background-image: url(../img/olpreview.gif) !important;
}

.olarchive {
    background-image: url(../img/backup.gif) !important;
}

.olinbox {
    background-image: url(../img/mail.gif) !important;
}

.navtree {
    background-image:url(../img/folder.gif) !important;
}

.navreview {
    background-image:url(../img/review.gif) !important;
}

.customOLfolder
{
font-weight:bold;
}

/* extjs 2.2.1 menu icon correction for IE */
.ext-ie .x-menu-item-icon {left: -24px; top: 0px;}
.ext-strict .x-menu-item-icon {left: 3px; top: 3px;}
.ext-ie6 .x-menu-item-icon {left: -24px; top: 0px;}

.preview {
background:#ffffcc;padding:1 1 1 1;
}

.x-tool-revpaths {background-image: url(../img/comment_yellow.gif);}
.x-tool-revempty{background-image: url(../img/copy.gif);}

.printTable
{
font-name:tahoma;
font-size:10px;
border-bottom:1px dotted black;
}

.showTable
{
font-name:tahoma;
font-size:12px;
border-bottom:0px dotted black;
}

.htaimg
{

margin-right:8px;

}

.TIK {background-image:url(../img/calendar.gif) !important;}
.IMP {background-image:url(../img/icon_alert.gif) !important;}
.WFL {background-image:url(../img/j-icon.gif) !important;}
.TAG {background-image:url(../img/list_components.gif) !important;}
.PRJ {background-image:url(../img/project.gif) !important;}
.OLW {background-image:url(../img/folder.gif) !important;}
.INB {background-image:url(../img/inboxmail.gif) !important;}
.OLW {background-image:url(../img/folder.gif) !important;}
.PIT {background-image:url(../img/note.gif) !important;}
.WEB {background-image:url(../img/page_url.gif) !important;}
.HTM {background-image:url(../img/icon_extension.gif) !important;}
.SFO {background-image:url(../img/sfolder.gif) !important;}
